<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link href ="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800;900&family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href = '../css/libs/normalize.css' rel = 'stylesheet' type = 'text/css'> 
    <link href="../css/wide-head-and-foot-style.min.css" rel="stylesheet" type="text/css">
    <link href = '../css/style.min.css' rel = 'stylesheet' type = 'text/css'>
</head>
<body class='error-p-body'>
    <header class="header error-header">
        <div class="header__logo">
            <a class="logo__link" href="/"><img src='../icons/header__logo-dark.svg' alt='logo'></a>
        </div>
    </header>
    <section class="center-container error-page__bg-img">
        <div class="text-container">
            <p class='error-page__title-text'> Упс! Запрашиваемая страница не найдена :(</p>
            <p class='error-page__msg-text'> Что-то пошло не так и иногда это случается. 
                Но не переживайте наша команда уже работает над устранением ошибки!
                Возможно, у вас все получится, если вы проверите правильность вашей ссылки! :)
            </p>
            <a href='logined.html'><button class="error-page__btn-mp"> На главную </button></a>
        </div>
    </section>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- <script type = 'text/javascript' src='../js/libs/main.js'></script> -->
    <script type = 'text/javascript' src='../js/libs/scroll-header.js'></script>
</body>
</html>