<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logined page</title>
    <link href ="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800;900&family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link href = "../css/libs/normalize.css" rel = "stylesheet" type = "text/css"> 
    <!-- <link href = "../css/wide-head-and-foot-style.min.css" rel = "stylesheet" type = "text/css"> -->
    <link href = "../css/logined-clear.min.css" rel = "stylesheet" type = "text/css">
</head>
<body>
    <header>
        <div class="header header-width-nav"><!-- ЧТОБЫ ВКЛЮЧИЛАСЬ ШАПКА НЕАВТОРИЗОВАННОГО ПОЛЬЗОВАТЕЛЯ ДОБАВИТЬ КЛАСС header-unlogin -->
            <div class="header__logo">
                <a class="logo__link" href="/"><img src="../icons/header__logo-dark.svg" alt="logo"></a>
            </div>
            <div class="header__position-user">
                <div class="header__city-block-trig-link">
                    <p class="trigger-city">Санкт-Петербург</p>
                </div>
                <div class="header__city-block-trig-list">
                    <div class="city-list__container">
                        <div class="city-list__container-inner">
                            <div class="city-list__wrapper">
                                <p class="city-of-list">Санкт-Петербург</p>
                                <p class="city-of-list">Казань</p>
                                <p class="city-of-list">Краснодар</p>
                                <p class="city-of-list">Мурманск</p>
                                <p class="city-of-list">Владивосток</p>
                                <p class="city-of-list">Сочи</p>
                                <p class="city-of-list">Самара</p>
                                <p class="city-of-list">Омск</p>
                                <p class="city-of-list">Новосибирск</p>
                                <p class="city-of-list">Челябинск</p>
                                <p class="city-of-list">Рязань</p>
                                <p class="city-of-list">Смоленск</p>
                                <p class="city-of-list">Тула</p>
                                <p class="city-of-list">Ярославль</p>
                                <p class="city-of-list">Воронеж</p>
                                <p class="city-of-list">Саратов</p>
                                <p class="city-of-list">Архангельск</p>
                                <p class="city-of-list">Калининград</p>
                                <p class="city-of-list">Чебоксары</p>
                                <p class="city-of-list">Уфа</p>
                                <p class="city-of-list">Чебаркуль</p>
                                <p class="city-of-list">Екатеринбург</p>
                                <p class="city-of-list">Пенза</p>
                            </div>
                            <div class="decor-op-block op-block-top"></div>
                            <div class="decor-op-block op-block-down"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav__container">
                <nav class="menu">
                    <ul class="wrapper__link">
                        <li>
                            <a href="catalog.html" class="header-menu__link menu__link-catalog">Каталог
                                <div class="hover-cat-menu__container">
                                    <div class="hover-cat-menu__container-inner">
                                        <div class="hover-cat-menu__grid-cont">
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-ft-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Одежда</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Верхняя одежда</li>
                                                        <li class="prod-categ-link">Блузы, рубашки и водолазки</li>
                                                        <li class="prod-categ-link">Боди, Купальники и пляжная одежда</li>
                                                        <li class="prod-categ-link">Джемперы, вязанные вещи и кардиган</li>
                                                        <li class="prod-categ-link">Джинсы и Брюки</li>
                                                        <li class="prod-categ-link">Домашняя одежда</li>
                                                        <li class="prod-categ-link">Комбинезоны, Пиджаки и костюмы</li>
                                                        <li class="prod-categ-link">Платья и сарафаны</li>
                                                        <li class="prod-categ-link">Спорт, Футболки и поло</li>
                                                        <li class="prod-categ-link">Толстовки/свитноты, Топы и майки</li>
                                                        <li class="prod-categ-link">Шорты и Юбки</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Реквизиты</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Реквизиты</li>
                                                        <li class="prod-categ-link">Оружие</li>
                                                        <li class="prod-categ-link">Машины</li>
                                                        <li class="prod-categ-link">Прочее</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-sc-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Аксессуары</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Аксессуары для волос, парики</li>
                                                        <li class="prod-categ-link">Головные уборы</li>
                                                        <li class="prod-categ-link">Зонты</li>
                                                        <li class="prod-categ-link">Косметические наборы</li>
                                                        <li class="prod-categ-link">Очки</li>
                                                        <li class="prod-categ-link">Перчатки и вырежки</li>
                                                        <li class="prod-categ-link">Платки, шарфы, Ремни и Пояса</li>
                                                        <li class="prod-categ-link">Ремни и пояса</li>
                                                        <li class="prod-categ-link">Рюкзаки, Сумки и Чемоданы</li>
                                                        <li class="prod-categ-link">Украшения и Часы</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Атрибутика образа</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Значки и жетоны</li>
                                                        <li class="prod-categ-link">Нашивки</li>
                                                        <li class="prod-categ-link">Маски</li>
                                                        <li class="prod-categ-link">Крылья</li>
                                                        <li class="prod-categ-link">Прочее</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-th-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Обувь</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Боссоножки, Сандали и Эспадрильи</li>
                                                        <li class="prod-categ-link">Ботильоны</li>
                                                        <li class="prod-categ-link">Ботинки, Сапоги и Резиновая обувь</li>
                                                        <li class="prod-categ-link">Вечерняя обувь</li>
                                                        <li class="prod-categ-link">Домашняя обувь</li>
                                                        <li class="prod-categ-link">Казаки и мюли</li>
                                                        <li class="prod-categ-link">Кроссовки/кеды, Мокасины и топсайдер</li>
                                                        <li class="prod-categ-link">Туфли</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Спец. одежда и костюмы</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Военная форма</li>
                                                        <li class="prod-categ-link">Экипировка медицинских работников</li>
                                                        <li class="prod-categ-link">Полиция и Росгвардия</li>
                                                        <li class="prod-categ-link">Форма пожарного</li>
                                                        <li class="prod-categ-link">Сценические костюмы</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li><a href="about-electio.html" class="header-menu__link about-service-btn">О сервисе</a></li>
                        <li class="hid-for-unlogin-header"><a href="#" class="header-menu__link">Мои объявления</a></li>
                        <li class="hid-for-unlogin-header"><a href="lk.html" class="header-menu__link menu__link-pc">Личный кабинет</a></li>
                        <li class="unlog-header-btn"><a href="reg-form.html" class="header-menu__link hidden-btn registration-btn">Регистрация</a></li>
                        <li class="unlog-header-btn"><a href="auth-form.html" class="header-menu__link hidden-btn authtariz-btn">Войти</a></li>
                    </ul>
                </nav>
                <div class="header-btn__sh-ch">
                    <a class="header__link-shop" href="shop-cart.html">
                        <p class="sum-circle shop-icon__sum-circle">2</p>
                    </a>
                    <a class="header__link-chat" href="chat-page.html">
                        <p class="sum-circle chat-icon__sum-circle">3</p>
                    </a>
                </div>
                <div class="header-serch__input-block">
                    <input class='header-ser__input' type="text" focus:{ outline: none; } placeholder='Поиск'>
                    <img src="../icons/search-head-input-ico.svg" alt="" class="search-header-input-ico">
                    <img src="../icons/light-explore-ico-under375.svg" alt="" class="search-header-input-ico light-under375">
                </div>
                <div class="burger-block">
                    <span class="burger-link"></span>
                    <span class="burger-link"></span>
                    <span class="burger-link"></span>
                </div>
            </div>
        </div>
    </header>
    <section class="burger-drop-menu__container">
        <div class="burger-drop-menu__container-inner">
            <div class="burger-dr-m__wrapper">
                <div class="block-logo-city__under375">
                    <img src="../icons/dark-logo-dm-375.svg" alt="" class="logo-ico__under375">
                </div>
                <div class="photo-ico-plus-name-block">
                    <div class="burger-photo-place">
                        <a href="lk.html"><img class="burger-photo-ico" src="../icons/burger-photo-place-ico.svg" alt=""></a>
                    </div>
                    <div class="burger-name-place-block">
                        <a href="lk.html"><span class="burger-name-text">Никки Розенфельд</span></a>
                    </div>
                </div>
                <ul class="navigation-menu-wrapper">
                    <li class="burger-tab-el"><a href="catalog.html" class="burger-link-el">Каталог</a></li>
                    <li class="burger-tab-el"><a href="lk.html" class="burger-link-el">Личный кабинет</a></li>
                    <li class="burger-tab-el"><a href="" class="burger-link-el">Мои обращения</a></li>
                    <li class="burger-tab-el"><a href="about-electio.html" class="burger-link-el">О сервисе</a></li>
                    <li class="burger-tab-el"><a class="burger-link-el choose-cities">Санкт-Петербург</a>
                        <div class="header__city-block-trig-list">
                            <div class="city-list__container">
                                <div class="city-list__container-inner">
                                    <div class="city-list__wrapper">
                                        <p class="city-of-list">Санкт-Петербург</p>
                                        <p class="city-of-list">Казань</p>
                                        <p class="city-of-list">Краснодар</p>
                                        <p class="city-of-list">Мурманск</p>
                                        <p class="city-of-list">Владивосток</p>
                                        <p class="city-of-list">Сочи</p>
                                        <p class="city-of-list">Самара</p>
                                        <p class="city-of-list">Омск</p>
                                        <p class="city-of-list">Новосибирск</p>
                                        <p class="city-of-list">Челябинск</p>
                                        <p class="city-of-list">Рязань</p>
                                        <p class="city-of-list">Смоленск</p>
                                        <p class="city-of-list">Тула</p>
                                        <p class="city-of-list">Ярославль</p>
                                        <p class="city-of-list">Воронеж</p>
                                        <p class="city-of-list">Саратов</p>
                                        <p class="city-of-list">Архангельск</p>
                                        <p class="city-of-list">Калининград</p>
                                        <p class="city-of-list">Чебоксары</p>
                                        <p class="city-of-list">Уфа</p>
                                        <p class="city-of-list">Чебаркуль</p>
                                        <p class="city-of-list">Екатеринбург</p>
                                        <p class="city-of-list">Пенза</p>
                                    </div>
                                    <div class="decor-op-block op-block-top"></div>
                                    <div class="decor-op-block op-block-down"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="burger-tab-el burger-exit-link"><a href="" class="burger-link-el">Выход</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="closer-window-area"></div>
    <section class="new-main-section">
        <div class="main-display__container">
            <div class="main-display__container-inner">
                <div class="main-disp__img-cont"></div>
                <div class="md-cont-in__text-cont">
                    <p class='md-cont__text-title'>Аренда и прокат реквизита для вас</p>
                    <p class='md-cont__text-sub'>Electio - это удобный сервис, в котором вы можете сдать или взять в аренду любой реквизит
                        всего в пару кликов от свистка и кофты, до машины и локации
                    </p>
                </div>
                <div class="search-prod__elem-wrapper">
                    <input 
                    type="text" 
                    class="search-prod__elem-input"
                    placeholder="Введите название товара..."
                    id="search-prod"
                    >
                    <div class="prod-serch__btn-cont">
                        <input 
                        type="button" 
                        class="prod-serch__btn"
                        value="Найти"
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="center-container disabled">
        <div class="center-cont__first-inner">
            <div class="center-container__inner">
                <div class="text-container">
                    <p class='error-page__title-text'> Аренда и прокат кинооборудования</p>
                    <p class='error-page__msg-text'> Electio - удобный сервис по аренде и прокату кинооборудования, 
                        в котором вы можете сдать в аренду или арендовать любые товары для съемок в пару кликов
                    </p>
                </div>
                <div class='prod-search__container'>
                    <div class="prod-serch__wrapper">
                        <input 
                        type="text" 
                        class="serch-prod__input"
                        placeholder="Введите название товара..."
                        >
                        <a href='#'><button class="search-prod__btn"> Найти </button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="one-morediv">
        <div class="backgr-main-ico__container">
            <div class="backgr-main-ico"></div>
        </div>
    </div>
    <section class="min-catalog-display">
        <h1 class="min-catalog__title"> Каталог </h1>
        <p class="min-catalog__text"> Удобный дизайн поможет быстро найти необходимый
            реквизит для вашего шикарного контента</p>
        <div class="min-catalog__wrapper-items">
            <div class="min-catalog__item-card">
                <a href="#" class=""><div class="item-card__bgimg bgimg-clothes"></div></a>
                <p class="item-card__text-first text__drop-text">Верхняя одежда, рубашки, блузы, брюки...</p>
                <a href="#" class=""><p class="item-card__text-second">Одежда</p></a>
                <a href="#" class="item-card__link-look">Смотреть</a>
            </div>
            <div class="min-catalog__item-card">
                <a href="#" class=""><div class="item-card__bgimg bgimg-ftwear"></div></a>
                <p class="item-card__text-first text__drop-text">Босоножки, ботильоны, сандали...</p>
                <a href="#" class=""><p class="item-card__text-second">Обувь</p></a>
                <a href="#" class="item-card__link-look">Смотреть</a>
            </div>
            <div class="min-catalog__item-card">
                <a href="#" class=""><div class="item-card__bgimg bgimg-acces"></div></a>
                <p class="item-card__text-first text__drop-text">Головные уборы, сумки, зонты, украшения...</p>
                <a href="#" class=""><p class="item-card__text-second">Аксессуары</p></a>
                <a href="#" class="item-card__link-look">Смотреть</a>
            </div>
            <div class="min-catalog__item-card">
                <a href="#" class=""><div class="item-card__bgimg bgimg-atr"></div></a>
                <p class="item-card__text-first text__drop-text">Нашивки, значки, маски крылья....</p>
                <a href="#" class=""><p class="item-card__text-second">Атрибутика образа</p></a>
                <a href="#" class="item-card__link-look">Смотреть</a>
            </div>
            <div class="min-catalog__item-card">
                <a href="#" class=""><div class="item-card__bgimg bgimg-requis"></div></a>
                <p class="item-card__text-first text__drop-text">Оружие, машины, прочее...</p>
                <a href="#" class=""><p class="item-card__text-second">Реквизиты</p></a>
                <a href="#" class="item-card__link-look">Смотреть</a>
            </div>
            <div class="min-catalog__item-card">
                <a href="#" class=""><div class="item-card__bgimg bgimg-testtest"></div></a>
                <p class="item-card__text-first text__drop-text">Форма, экипировка, спец.одежда, костюмы...</p>
                <a href="#" class=""><p class="item-card__text-second">Спец. одежда и костюмы</p></a>
                <a href="#" class="item-card__link-look">Смотреть</a>
            </div>
        </div>
    </section>
    <section class="display-ready-made">
        <h1 class="display-ready-made__title"> Готовые образы для любых съемок </h1>
        <p class="display-ready-made__text"> Порой не хватает времени на поиск реквизита, или просто не
            можешь определиться. Именно для таких моментов мы подобрали вам готовые образы для
            разных сюжетов</p>
        <div class="ready-made__container-grid">
            <div class="ready-made-container__item">
                <img src="../img/ready-made-item-bg.png" alt="" class="item-wrap__bg">
                <div class="ready-made-item__text-block">
                    <p class="ready-mate-text-block__title">Вечная классика</p>
                    <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Этой осенью вам понадобятся деловые образы двух видов...</p>
                    <a href="#" class="ready-mate-text-block__link">Подробнее</a>
                    <a href="" class="under-Title-card-ready-skin__Text--375">Уже на сайте!</a>
                </div>
            </div>
            <div class="ready-made-container__item">
                <img src="../img/ready-made-item-bg.png" alt="" class="item-wrap__bg">
                <div class="ready-made-item__text-block">
                    <p class="ready-mate-text-block__title">Вечная классика</p>
                    <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Этой осенью вам понадобятся деловые образы двух видов...</p>
                    <a href="#" class="ready-mate-text-block__link">Подробнее</a>
                    <a href="" class="under-Title-card-ready-skin__Text--375">Уже на сайте!</a>
                </div>
            </div>
            <div class="ready-made-container__item">
                <img src="../img/ready-made-item-bg.png" alt="" class="item-wrap__bg">
                <div class="ready-made-item__text-block">
                    <p class="ready-mate-text-block__title">Вечная классика</p>
                    <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Этой осенью вам понадобятся деловые образы двух видов...</p>
                    <a href="#" class="ready-mate-text-block__link">Подробнее</a>
                    <a href="" class="under-Title-card-ready-skin__Text--375">Уже на сайте!</a>
                </div>
            </div>
            <div class="ready-made-container__item">
                <img src="../img/ready-made-item-bg.png" alt="" class="item-wrap__bg">
                <div class="ready-made-item__text-block">
                    <p class="ready-mate-text-block__title">Премиальное качество</p>
                    <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Образы с деловыми костюмами</p>
                    <a href="#" class="ready-mate-text-block__link">Подробнее</a>
                    <a href="" class="under-Title-card-ready-skin__Text--375">Уже на сайте!</a>
                </div>
            </div>
            <div class="ready-made-container__item">
                <img src="../img/ready-made-item-bg.png" alt="" class="item-wrap__bg">
                <div class="ready-made-item__text-block">
                    <p class="ready-mate-text-block__title">Стрит-стайл</p>
                    <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Это образы, сочетающие в себе удобство и эффектную ...</p>
                    <a href="#" class="ready-mate-text-block__link">Подробнее</a>
                    <a href="" class="under-Title-card-ready-skin__Text--375">Уже на сайте!</a>
                </div>
            </div>
            <div class="ready-made-container__item r-m__grid-item-fourth">
                <div class="for-img-border">
                    <img src="../img/ready-made-item-bg.png" alt="" class="item-wrap__bg">
                </div>
                <div class="ready-made-item__text-block">
                    <p class="ready-mate-text-block__title">Вечная классика</p>
                    <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Какое-то описание товара</p>
                    <a href="#" class="ready-mate-text-block__link">Подробнее</a>
                    <a href="" class="under-Title-card-ready-skin__Text--375">Уже на сайте!</a>
                </div>
            </div>
        </div>
        <div class="rm-btn__container"> <!-- АДМИНСКАЯ КНОПКА 05.12 ДОБАВЛЕНО -->
            <input type="submit" class="rm-btn" value="Добавить публикацию">
        </div>
    </section>
    <section class="rent-info-display">
        <h1 class="rent-info__title display-ready-made__title"> Как арендовать? </h1>
        <p class="rent-info__text display-ready-made__text"> Всего в несколько простых шагов вы можете арендовать или сдать в аренду </p>
        <div class="how-rent__img-container">
            <img class="how-rent__img" src="../icons/how-rent-group.svg" alt="">
            <img class="how-rent__img how-rent--under375" src="../icons/how-rent-like-ico--under375.svg" alt="">
        </div>
    </section>
    <section class="verif-display">
        <div class="verif-disp__inner-cont">
            <h1 class="display-ready-made__title"> Верификация пользователей </h1>
            <p class="display-ready-made__text"> Для вашей безопасности наш сервис проводит верификацию каждого пользователя</p>
            <div class="ver-items__container">
                <div class="ver-items__wrapper">
                    <div class="ver-item-loading__wrapper">
                        <div class='ver-item__text-box'>
                            <p class="text-block__title">1. Загрузка документов</p>
                            <p class="text-block__descr">Пользователь загружает изображения в систему через специальную форму на сайте или просто подносит документ
                                к камере телефона</p> 
                        </div>
                        <div class="wrapper__img-right-h"></div>
                    </div>
                    <div class="ver-item-check__wrapper">
                        <div class="wrapper__img-left-h"></div>
                        <div class='ver-item__text-box'>
                            <p class="text-block__title">2. Проверка документов</p>
                            <p class="text-block__descr">Уникальная технология на основе компьютерного зрения
                                и асинхронных кросс-проверок мгновенно анализирует данные
                                и выявляет найденные ошибки</p>
                        </div>
                    </div>
                    <div class="ver-item-result__wrapper">
                        <div class='ver-item__text-box'>
                            <p class="text-block__title">3. Результат проверки</p>
                            <p class="text-block__descr">Компания получает отчет со сводной информацией
                                о подленности документов, а также интерактивнымистатусами проверки</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
    <footer class="footer aut__footer">
        <div class="container">
            <div class="footer__electio-info">
                <a class="electio-info__link" href=""> Правила пользования сайтом</a>
                <a class="electio-info__link footer-info__doc" href=""> Документация</a>
                <a class="electio-info__link footer-info__faq" href=""> FAQ</a>
                <a class="electio-info__link link-author" href=""> © Electio 2020</a>
            </div>
            <div class="footer__electio-contacts">
                <div class="footer__social-btn-cont">
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__tw" href="#">Чат с администрацией</a>
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__be" href="#"></a>
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__inst" href="#"></a>
                </div>
                <div class="footer__another-cont">
                    <a class="electio-info__link" href="#">something@gmail.com</a>
                    <a class="electio-info__link" href="#">+8 (812) 123-45-67</a>
                    <a class="electio-info__link link-city" href="#">Россия</a>
                </div>
            </div>
        </div>
    </footer>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <!-- <script type = 'text/javascript' src='../js/libs/main.js'></script> -->
    <script type = 'text/javascript' src='../js/libs/logined-grid.js'></script>
    <script type = 'text/javascript' src='../js/libs/scroll-header.js'></script>
</body>
</html>