<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My adds</title>
    <link href ="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800;900&family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link href = "../css/libs/normalize.css" rel = "stylesheet" type = "text/css">
    <link href = "../css/libs/slick.css" rel = "stylesheet">  
    <link href = "../css/my-adds-style.min.css" rel = "stylesheet" type = "text/css">
    <link href="../css/wide-head-and-foot-style.min.css" rel="stylesheet" type="text/css">
    <link href="../css/photo-minicard-style.min.css" rel="stylesheet" type="text/css">
</head>
<body>  
    <header class='wide-header-chat'>
        <div class="header header-width-nav">
            <div class="header__logo">
                <a class="logo__link" href="/"><img src="../icons/header__logo--light.svg" alt="logo"></a>
            </div>
            <div class="header__position-user">
                <div class="header__city-block-trig-link">
                    <p class="trigger-city">Санкт-Петербург</p>
                </div>
                <div class="header__city-block-trig-list">
                    <div class="city-list__container">
                        <div class="city-list__container-inner">
                            <div class="city-list__wrapper">
                                <p class="city-of-list">Санкт-Петербург</p>
                                <p class="city-of-list">Казань</p>
                                <p class="city-of-list">Краснодар</p>
                                <p class="city-of-list">Мурманск</p>
                                <p class="city-of-list">Владивосток</p>
                                <p class="city-of-list">Сочи</p>
                                <p class="city-of-list">Самара</p>
                                <p class="city-of-list">Омск</p>
                                <p class="city-of-list">Новосибирск</p>
                                <p class="city-of-list">Челябинск</p>
                                <p class="city-of-list">Рязань</p>
                                <p class="city-of-list">Смоленск</p>
                                <p class="city-of-list">Тула</p>
                                <p class="city-of-list">Ярославль</p>
                                <p class="city-of-list">Воронеж</p>
                                <p class="city-of-list">Саратов</p>
                                <p class="city-of-list">Архангельск</p>
                                <p class="city-of-list">Калининград</p>
                                <p class="city-of-list">Чебоксары</p>
                                <p class="city-of-list">Уфа</p>
                                <p class="city-of-list">Чебаркуль</p>
                                <p class="city-of-list">Екатеринбург</p>
                                <p class="city-of-list">Пенза</p>
                            </div>
                            <div class="decor-op-block op-block-top"></div>
                            <div class="decor-op-block op-block-down"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav__container">
                <nav class="menu">
                    <ul class="wrapper__link">
                        <li>
                            <a href="catalog.html" class="header-menu__link menu__link-catalog">Каталог
                                <div class="hover-cat-menu__container">
                                    <div class="hover-cat-menu__container-inner">
                                        <div class="hover-cat-menu__grid-cont">
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-ft-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Одежда</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Верхняя одежда</li>
                                                        <li class="prod-categ-link">Блузы, рубашки и водолазки</li>
                                                        <li class="prod-categ-link">Боди, Купальники и пляжная одежда</li>
                                                        <li class="prod-categ-link">Джемперы, вязанные вещи и кардиган</li>
                                                        <li class="prod-categ-link">Джинсы и Брюки</li>
                                                        <li class="prod-categ-link">Домашняя одежда</li>
                                                        <li class="prod-categ-link">Комбинезоны, Пиджаки и костюмы</li>
                                                        <li class="prod-categ-link">Платья и сарафаны</li>
                                                        <li class="prod-categ-link">Спорт, Футболки и поло</li>
                                                        <li class="prod-categ-link">Толстовки/свитноты, Топы и майки</li>
                                                        <li class="prod-categ-link">Шорты и Юбки</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Реквизиты</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Реквизиты</li>
                                                        <li class="prod-categ-link">Оружие</li>
                                                        <li class="prod-categ-link">Машины</li>
                                                        <li class="prod-categ-link">Прочее</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-sc-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Аксессуары</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Аксессуары для волос, парики</li>
                                                        <li class="prod-categ-link">Головные уборы</li>
                                                        <li class="prod-categ-link">Зонты</li>
                                                        <li class="prod-categ-link">Косметические наборы</li>
                                                        <li class="prod-categ-link">Очки</li>
                                                        <li class="prod-categ-link">Перчатки и вырежки</li>
                                                        <li class="prod-categ-link">Платки, шарфы, Ремни и Пояса</li>
                                                        <li class="prod-categ-link">Ремни и пояса</li>
                                                        <li class="prod-categ-link">Рюкзаки, Сумки и Чемоданы</li>
                                                        <li class="prod-categ-link">Украшения и Часы</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Атрибутика образа</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Значки и жетоны</li>
                                                        <li class="prod-categ-link">Нашивки</li>
                                                        <li class="prod-categ-link">Маски</li>
                                                        <li class="prod-categ-link">Крылья</li>
                                                        <li class="prod-categ-link">Прочее</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-th-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Обувь</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Боссоножки, Сандали и Эспадрильи</li>
                                                        <li class="prod-categ-link">Ботильоны</li>
                                                        <li class="prod-categ-link">Ботинки, Сапоги и Резиновая обувь</li>
                                                        <li class="prod-categ-link">Вечерняя обувь</li>
                                                        <li class="prod-categ-link">Домашняя обувь</li>
                                                        <li class="prod-categ-link">Казаки и мюли</li>
                                                        <li class="prod-categ-link">Кроссовки/кеды, Мокасины и топсайдер</li>
                                                        <li class="prod-categ-link">Туфли</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Спец. одежда и костюмы</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Военная форма</li>
                                                        <li class="prod-categ-link">Экипировка медицинских работников</li>
                                                        <li class="prod-categ-link">Полиция и Росгвардия</li>
                                                        <li class="prod-categ-link">Форма пожарного</li>
                                                        <li class="prod-categ-link">Сценические костюмы</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li><a href="about-electio.html" class="header-menu__link">О сервисе</a></li>
                        <li><a href="#" class="header-menu__link">Мои объявления</a></li>
                        <li><a href="lk.html" class="header-menu__link menu__link-pc">Личный кабинет</a></li>
                    </ul>
                </nav>
                <div class="header-btn__sh-ch">
                    <a class="header__link-shop" href="#">
                        <p class="sum-circle shop-icon__sum-circle">2</p>
                    </a>
                    <a class="header__link-chat" href="#">
                        <p class="sum-circle chat-icon__sum-circle">3</p>
                    </a>
                </div>
                <div class="header-serch__input-block">
                    <input class='header-ser__input' type="text" focus:{ outline: none; } placeholder='Поиск'>
                    <img src="../icons/search-head-input-ico.svg" alt="" class="search-header-input-ico">
                    <img src="../icons/light-explore-ico-under375.svg" alt="" class="search-header-input-ico light-under375">
                </div>
                <div class="burger-block">
                    <span class="burger-link"></span>
                    <span class="burger-link"></span>
                    <span class="burger-link"></span>
                </div>
            </div>
        </div>
        <div class="wide-header__nav-container">
            <nav class="wide-header__nav">
                <ul class='wide-header__nav-list center-pos'> <!--АДМИНСКАЯ ПАНЕЛЬ -->
                    <li><a href="" class="wide-header__nav-link">Мой профиль</a></li>
                    <li><a href="" class="wide-header__nav-link">Добавить товар</a></li>
                    <li><a href="" class="wide-header__nav-link">Мои аренды</a></li>
                    <li><a href="" class="wide-header__nav-link">Мои объявления</a></li>
                    <li><a href="" class="wide-header__nav-link">Избранное</a></li>
                    <li><a href="" class="wide-header__nav-link">Бронь</a></li>
                    <li><a href="" class="wide-header__nav-link">Корзина</a></li>
                    <li><a href="" class="wide-header__nav-link">Подписки</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="burger-drop-menu__container">
        <div class="burger-drop-menu__container-inner">
            <div class="burger-dr-m__wrapper">
                <div class="block-logo-city__under375">
                    <img src="../icons/dark-logo-dm-375.svg" alt="" class="logo-ico__under375">
                </div>
                <div class="photo-ico-plus-name-block">
                    <div class="burger-photo-place">
                        <a href="lk.html"><img class="burger-photo-ico" src="../img/profile-foto.png" alt=""></a>
                    </div>
                    <div class="burger-name-place-block">
                        <a href="lk.html"><span class="burger-name-text">Никки Розенфельд</span></a>
                    </div>
                </div>
                <ul class="navigation-menu-wrapper">
                    <li class="burger-tab-el"><a href="catalog.html" class="burger-link-el">Каталог</a></li>
                    <li class="burger-tab-el"><a href="lk.html" class="burger-link-el">Личный кабинет</a></li>
                    <li class="burger-tab-el"><a href="" class="burger-link-el">Мои обращения</a></li>
                    <li class="burger-tab-el"><a href="about-electio.html" class="burger-link-el">О сервисе</a></li>
                    <li class="burger-tab-el"><a class="burger-link-el choose-cities">Санкт-Петербург</a>
                        <div class="header__city-block-trig-list">
                            <div class="city-list__container">
                                <div class="city-list__container-inner">
                                    <div class="city-list__wrapper">
                                        <p class="city-of-list">Санкт-Петербург</p>
                                        <p class="city-of-list">Казань</p>
                                        <p class="city-of-list">Краснодар</p>
                                        <p class="city-of-list">Мурманск</p>
                                        <p class="city-of-list">Владивосток</p>
                                        <p class="city-of-list">Сочи</p>
                                        <p class="city-of-list">Самара</p>
                                        <p class="city-of-list">Омск</p>
                                        <p class="city-of-list">Новосибирск</p>
                                        <p class="city-of-list">Челябинск</p>
                                        <p class="city-of-list">Рязань</p>
                                        <p class="city-of-list">Смоленск</p>
                                        <p class="city-of-list">Тула</p>
                                        <p class="city-of-list">Ярославль</p>
                                        <p class="city-of-list">Воронеж</p>
                                        <p class="city-of-list">Саратов</p>
                                        <p class="city-of-list">Архангельск</p>
                                        <p class="city-of-list">Калининград</p>
                                        <p class="city-of-list">Чебоксары</p>
                                        <p class="city-of-list">Уфа</p>
                                        <p class="city-of-list">Чебаркуль</p>
                                        <p class="city-of-list">Екатеринбург</p>
                                        <p class="city-of-list">Пенза</p>
                                    </div>
                                    <div class="decor-op-block op-block-top"></div>
                                    <div class="decor-op-block op-block-down"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="burger-tab-el burger-exit-link"><a href="" class="burger-link-el">Выход</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="display-under1000-navigation">
        <div class="nav-under1000__container">
            <div class="nav-under1000__container-inner">
                <ul class="nav-under1000__wrapper">
                    <li class="nav-under1000__btn-wrapper"><a class="nav-u1000__link">Мой профиль</a></li>
                    <li class="nav-under1000__btn-wrapper"><a class="nav-u1000__link">Добавить товар</a></li>
                    <li class="nav-under1000__btn-wrapper"><a href="my-rent.html" class="nav-u1000__link">Мои аренды</a></li>
                    <li class="nav-under1000__btn-wrapper"><a href="my-adds.html" class="nav-u1000__link">Мои объявления</a></li>
                    <li class="nav-under1000__btn-wrapper"><a href="favorites.html" class="nav-u1000__link">Избранное</a></li>
                    <li class="nav-under1000__btn-wrapper"><a href="reserved.html" class="nav-u1000__link">Бронь</a></li>
                    <li class="nav-under1000__btn-wrapper"><a href="shop-cart.html" class="nav-u1000__link">Корзина</a></li>
                    <li class="nav-under1000__btn-wrapper"><a href="subscriptions.html" class="nav-u1000__link">Подписки</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="closer-window-area"></div>
    <section class="empty-element"></section>
    <section class="all-adds-display">
        <div class="my-adds__inner-container">
            <div class="all-adds__up-segment">
                <div class="title-and-serch-wrapper__block">
                    <div class="add-title__pop-up-block">
                        <h1 class="my-adds__title">Мои объявления</h1>
                        <div class="info-tarif-adds__block">
                            <span class="info-tarif-adds__span"><img clas='info-tarif-adds__ico' src="../icons/my-adds-ico.svg" alt=""></span>
                            <div class="pop-up-block">
                                <img src="../icons/triangle.png" alt="" class="triangle">
                                <p class="pop-up-text">Осталось <span>4</span> объявления в тарифе <span>"Тариф"</span></p>
                                <p class="pop-up-text"><span>2</span> объявления до <span>23.04</span></p>
                                <p class="pop-up-text"><span>Всегда доступно 6 объявлений</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="prod-serch__wrapper">
                        <input type="text" class="serch-prod__input" placeholder="Введите название товара..."
                            id="search-chat">
                        <img src="../icons/search-head-input-ico.svg" alt="" class="search-header-input-ico">
                        <a href='#'><button class="search-prod__btn"> Найти </button></a>
                    </div>
                </div>
                <ul class="my-adds__nav">
                    <li class='my-adds__nav-link' value="0">Все объявления</li>
                    <li class='my-adds__nav-link' value="1">Арендовано</li>
                    <li class='my-adds__nav-link' value="2">Забронировано</li>
                    <li class='my-adds__nav-link' value="3">Есть проблема</li>
                    <li class='my-adds__nav-link' value="4">Неопубликованные</li>
                </ul>
                <div class="input__wrapper selecter__wrapper select-choose-type-adds">
                    <select class='select__new-style write-place--fill' placeholder='' type="text" required readonly>
                        <option id="" class="sel__placehold" value="" style="color: #bfbfc8 !important;" selected disabled>Все объявления</option>
                        <option class="sel-opt__new" value="0">Все объявления</option> 
                        <option class="sel-opt__new" value="1">Арендовано</option> 
                        <option class="sel-opt__new" value="2">Забронировано</option> 
                        <option class="sel-opt__new" value="3">Есть проблема</option> 
                        <option class="sel-opt__new" value="4">Неопубликованные</option> 
                    </select>
                </div>
            </div>
            <div class="my-adds__grid-container"> <!-- Если нужно вырубить добавь класс disabled-->
                <div class="ready-made__container-grid" id=''>
                    <div class="ready-made-container__item"><img src="../img/user-cat-prod-photo.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>2400 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <img src="../icons/my-add__bell-ico.svg" alt="" class="add-favorites-icon card-info-ico--hover" id="favoritesico">
                        <div class="card-info-ico__modal-win">Есть проблема</div>
                    </div>
                    <div class="ready-made-container__item"><img src="../img/my-add-test-img.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>3600 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <img src="../icons/add-card-time-ico.svg" alt="" class="add-favorites-icon card-info-ico--hover" id="favoritesico">
                        <div class="card-info-ico__modal-win">У арендатора</div>
                    </div>
                    <div class="ready-made-container__item"><img src="../img/user-cat-prod-photo.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Киев</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>4200 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <!-- <img src="../icons/add-favorites-icon.svg" alt="" class="add-favorites-icon" id="favoritesico"> -->
                    </div>
                    <div class="ready-made-container__item"><img src="../img/user-cat-prod-photo.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Киев</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>2400 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <img src="../icons/add-confirm-ico.svg" alt="" class="add-favorites-icon card-info-ico--hover" id="favoritesico">
                        <div class="card-info-ico__modal-win">Забронировано</div>
                    </div>
                    <div class="ready-made-container__item"><img src="../img/user-cat-prod-photo.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Знатока</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>2400 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <!-- <img src="../icons/add-favorites-icon.svg" alt="" class="add-favorites-icon" id="favoritesico"> -->
                    </div>
                    <!-- <div class="ready-made-container__item pump-static-card__bg"><img class='cat-catd__diamond-icon' src="../icons/cat-card__diamond-icon.svg" alt="">
                        <p class="ready-mate-text-block__title">Ты можешь больше!</p>
                        <a href='#'><div class="btn-edit-prof">Прокачаться</div></a>
                    </div> -->
                </div>
            </div>
            <div class="my-adds__grid-container rented"><!-- Если нужно вырубить добавь класс disabled-->
                <div class="ready-made__container-grid disabled" id=''>
                    <div class="ready-made-container__item"><img src="../img/my-add-test-img.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>3600 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <img src="../icons/add-card-time-ico.svg" alt="" class="add-favorites-icon card-info-ico--hover" id="favoritesico">
                        <div class="card-info-ico__modal-win">У арендатора</div>
                    </div>
                </div>
            </div>
            <div class="my-adds__grid-container booked"> <!-- ЭКРАН ПРОСРОЧЕНО--><!-- Если нужно вырубить добавь класс disabled-->
                <div class="ready-made__container-grid disabled" id=''>
                    <div class="ready-made-container__item"><img src="../img/my-add-test-img.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>3600 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <img src="../icons/add-confirm-ico.svg" alt="" class="add-favorites-icon card-info-ico--hover" id="favoritesico">
                        <div class="card-info-ico__modal-win">Забронировано</div>
                    </div>
                </div>
            </div>
            <div class="my-adds__grid-container overdue"> <!-- ЭКРАН ПРОСРОЧЕНО--><!-- Если нужно вырубить добавь класс disabled-->
                <div class="ready-made__container-grid disabled" id=''>
                    <div class="ready-made-container__item"><img src="../img/user-cat-prod-photo.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>2400 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                        <img src="../icons/my-add__bell-ico.svg" alt="" class="add-favorites-icon card-info-ico--hover" id="favoritesico">
                        <div class="card-info-ico__modal-win">Есть проблема</div>
                    </div>
                </div>
            </div>
            <div class="my-adds__grid-container unpublished"> <!-- Если нужно вырубить добавь класс disabled-->
                <div class="ready-made__container-grid disabled" id=''>
                    <div class="ready-made-container__item"><img src="../img/my-add-test-img.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>3600 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ready-made-container__item"><img src="../img/my-add-test-img.png" width="100%" alt="">
                        <div class="ready-made-item__text-block">
                            <p class="ready-mate-text-block__title">Фотоаппарат Зенит</p>
                            <p class="ready-mate-text-block__descr crowded-ellipsis--modify">Солнечный повседневный образ для ребенка</p>
                            <div class="item__drop-cost">
                                <a>3600 руб/сут</a>
                                <div class='item-card-descr-icons'>
                                    <img src="../icons/my-add-edit-ico.svg" alt="" class="item__card-ico item__drop-card-menu">
                                    <img src="../icons/my-add-rubbish-ico.svg" alt="" class="item__card-ico item__drop-rubb">
                                    <!-- <img src="../icons/my-add-card-menu-ico.svg" alt="" class="item__card-ico item__drop-eye"> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page__modal-filters">
        <div class="win-prod__bg-container">
            <div class="modal-win__product-wrapper">
                <div class="card-prod__zoom-inner">
                    <div class="test1"> 
                        <div class="heart-click"></div>
                        <img class="prod-favour-ico prod-cart-heart" id='favourIcoClick' src="../icons/prod-favour-ico.svg" alt="">
                    </div>
                    <div class="for-btns__container">
                        <div class="photo-prod--slick-slide-container">
                            <img src="../img/modal-cat-prod-inner-photo.png" alt="" class="card-prod-photo--slick">
                            <img src="../img/modal-cat-prod-inner-photo.png" alt="" class="card-prod-photo--slick">
                            <img src="../img/modal-cat-prod-inner-photo.png" alt="" class="card-prod-photo--slick">
                        </div>
                    </div>  
                    <div class="zoom-prod__text-wrapper">
                        <div class="title-block-with-star">
                            <h1 class="zoom-prod__title"><a href="product-page.html" class="">Платье Роза</a></h1>
                            <div class="rate-star Stars" style="--rating: 69.5;" aria-label="Rating of this product is % out of 100"></div>
                        </div>
                        <div class="spec-info__wrapper">
                            <div class="sp-info_col spec-info__ft-col">
                                <p class="spec-info__par">Материал<span class="spec-info__link">Металл, Стекло</span></p>
                                <p class="spec-info__par">Цвет<span class="spec-info__link">Черный</span></p>
                                <p class="spec-info__par">Узор<span class="spec-info__link">Клетка</span></p>
                                <p class="spec-info__par">Размер<span class="spec-info__link">XXL</span></p>
                                <p class="spec-info__par">Детали<span class="spec-info__link">Шипы</span></p>
                                <p class="spec-info__par">Длина<span class="spec-info__link">192 см</span></p>
                                <p class="spec-info__par">Детали<span class="spec-info__link">Шипы</span></p>
                            </div>
                            <div class="sp-info_col spec-info__sc-col">
                                <p class="spec-info__par">Материал<span class="spec-info__link">Металл, Стекло</span></p>
                                <p class="spec-info__par">Цвет<span class="spec-info__link">Черный</span></p>
                                <p class="spec-info__par">Узор<span class="spec-info__link">Клетка</span></p>
                                <p class="spec-info__par">Размер<span class="spec-info__link">XXL</span></p>
                                <p class="spec-info__par">Детали<span class="spec-info__link">Шипы</span></p>
                                <p class="spec-info__par">Длина<span class="spec-info__link">192 см</span></p>
                                <p class="spec-info__par">Детали<span class="spec-info__link">Шипы</span></p>
                            </div>
                        </div>
                        <div class="arend-cost__info-wrapper">
                            <p class="arend-cost__text">Аренда на 3 суток - 8 000 ₽</p>
                            <p class="arend-cost__text">Аренда на 7 суток - 18 000 ₽</p>
                            <p class="arend-cost__main-text">2400 ₽ / сут</p>
                        </div>
                        <div class="system-notice__card-btns">
                            <a href='#'><div class="system-card__first-btn">В корзину</div></a>
                            <a href='#'><div class="system-card__second-btn">Забронировать</div></a>
                        </div>
                    </div>
                </div>
                <img class="modal__close-ico" src="../icons/photo-modal-close-icon.svg" alt="">
            </div>          
        </div>
    </section>
    <footer class="footer aut__footer">
        <div class="container">
            <div class="footer__electio-info">
                <a class="electio-info__link" href=""> Правила пользования сайтом</a>
                <a class="electio-info__link footer-info__doc" href=""> Документация</a>
                <a class="electio-info__link footer-info__faq" href=""> FAQ</a>
                <a class="electio-info__link link-author" href=""> © Electio 2020</a>
            </div>
            <div class="footer__electio-contacts">
                <div class="footer__social-btn-cont">
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__tw" href="#">Чат с администрацией</a>
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__be" href="#"></a>
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__inst" href="#"></a>
                </div>
                <div class="footer__another-cont">
                    <a class="electio-info__link" href="#">something@gmail.com</a>
                    <a class="electio-info__link" href="#">+8 (812) 123-45-67</a>
                    <a class="electio-info__link link-city" href="#">Россия</a>
                </div>
            </div>
        </div>
    </footer>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='../js/jquery.formstyler.min.js'></script>
    <script src="../js/slick.min.js"></script>
    <script type = 'text/javascript' src='../js/libs/scroll-header.js'></script>
    <script type = 'text/javascript' src='../js/libs/adds-script.js'></script>
    <script type = 'text/javascript' src='../js/libs/product-p-script.js'></script>
</body>
</html>