<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800;900&family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css">
    <link href="../css/libs/normalize.css" rel="stylesheet" type="text/css">
    <link href="../css/libs/daterangepicker.css" rel="stylesheet" type="text/css">
    <link href = "../css/range-picker.min.css" rel = "stylesheet" type = "text/css">
    <link href="../css/users-style.min.css" rel="stylesheet" type="text/css">
    <link href = "../css/wide-head-and-foot-style.min.css" rel = "stylesheet" type = "text/css">
    <link href = "../css/calendare-style.min.css" rel = "stylesheet" type = "text/css">
    <link href="../css/radio-check-styles.min.css" rel="stylesheet" type="text/css">
</head>
<body class="users-page">
    <header>
        <div class="header header-width-nav"> <!-- ЧТОБЫ ВКЛЮЧИЛАСЬ ШАПКА НЕАВТОРИЗОВАННОГО ПОЛЬЗОВАТЕЛЯ ДОБАВИТЬ КЛАСС header-unlogin -->
            <div class="header__logo">
                <a class="logo__link" href="/"><img src="../icons/header__logo--light.svg" alt="logo"></a>
            </div>
            <div class="header__position-user">
                <div class="header__city-block-trig-link">
                    <p class="trigger-city">Санкт-Петербург</p>
                </div>
                <div class="header__city-block-trig-list">
                    <div class="city-list__container">
                        <div class="city-list__container-inner">
                            <div class="city-list__wrapper">
                                <p class="city-of-list">Санкт-Петербург</p>
                                <p class="city-of-list">Казань</p>
                                <p class="city-of-list">Краснодар</p>
                                <p class="city-of-list">Мурманск</p>
                                <p class="city-of-list">Владивосток</p>
                                <p class="city-of-list">Сочи</p>
                                <p class="city-of-list">Самара</p>
                                <p class="city-of-list">Омск</p>
                                <p class="city-of-list">Новосибирск</p>
                                <p class="city-of-list">Челябинск</p>
                                <p class="city-of-list">Рязань</p>
                                <p class="city-of-list">Смоленск</p>
                                <p class="city-of-list">Тула</p>
                                <p class="city-of-list">Ярославль</p>
                                <p class="city-of-list">Воронеж</p>
                                <p class="city-of-list">Саратов</p>
                                <p class="city-of-list">Архангельск</p>
                                <p class="city-of-list">Калининград</p>
                                <p class="city-of-list">Чебоксары</p>
                                <p class="city-of-list">Уфа</p>
                                <p class="city-of-list">Чебаркуль</p>
                                <p class="city-of-list">Екатеринбург</p>
                                <p class="city-of-list">Пенза</p>
                            </div>
                            <div class="decor-op-block op-block-top"></div>
                            <div class="decor-op-block op-block-down"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav__container">
                <nav class="menu">
                    <ul class="wrapper__link">
                        <li>
                            <a href="catalog.html" class="header-menu__link menu__link-catalog">Каталог
                                <div class="hover-cat-menu__container">
                                    <div class="hover-cat-menu__container-inner">
                                        <div class="hover-cat-menu__grid-cont">
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-ft-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Одежда</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Верхняя одежда</li>
                                                        <li class="prod-categ-link">Блузы, рубашки и водолазки</li>
                                                        <li class="prod-categ-link">Боди, Купальники и пляжная одежда</li>
                                                        <li class="prod-categ-link">Джемперы, вязанные вещи и кардиган</li>
                                                        <li class="prod-categ-link">Джинсы и Брюки</li>
                                                        <li class="prod-categ-link">Домашняя одежда</li>
                                                        <li class="prod-categ-link">Комбинезоны, Пиджаки и костюмы</li>
                                                        <li class="prod-categ-link">Платья и сарафаны</li>
                                                        <li class="prod-categ-link">Спорт, Футболки и поло</li>
                                                        <li class="prod-categ-link">Толстовки/свитноты, Топы и майки</li>
                                                        <li class="prod-categ-link">Шорты и Юбки</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Реквизиты</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Реквизиты</li>
                                                        <li class="prod-categ-link">Оружие</li>
                                                        <li class="prod-categ-link">Машины</li>
                                                        <li class="prod-categ-link">Прочее</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-sc-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Аксессуары</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Аксессуары для волос, парики</li>
                                                        <li class="prod-categ-link">Головные уборы</li>
                                                        <li class="prod-categ-link">Зонты</li>
                                                        <li class="prod-categ-link">Косметические наборы</li>
                                                        <li class="prod-categ-link">Очки</li>
                                                        <li class="prod-categ-link">Перчатки и вырежки</li>
                                                        <li class="prod-categ-link">Платки, шарфы, Ремни и Пояса</li>
                                                        <li class="prod-categ-link">Ремни и пояса</li>
                                                        <li class="prod-categ-link">Рюкзаки, Сумки и Чемоданы</li>
                                                        <li class="prod-categ-link">Украшения и Часы</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Атрибутика образа</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Значки и жетоны</li>
                                                        <li class="prod-categ-link">Нашивки</li>
                                                        <li class="prod-categ-link">Маски</li>
                                                        <li class="prod-categ-link">Крылья</li>
                                                        <li class="prod-categ-link">Прочее</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="hover-cat-menu__grid-col hover-cat-menu__grid-th-col">
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Обувь</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Боссоножки, Сандали и Эспадрильи</li>
                                                        <li class="prod-categ-link">Ботильоны</li>
                                                        <li class="prod-categ-link">Ботинки, Сапоги и Резиновая обувь</li>
                                                        <li class="prod-categ-link">Вечерняя обувь</li>
                                                        <li class="prod-categ-link">Домашняя обувь</li>
                                                        <li class="prod-categ-link">Казаки и мюли</li>
                                                        <li class="prod-categ-link">Кроссовки/кеды, Мокасины и топсайдер</li>
                                                        <li class="prod-categ-link">Туфли</li>
                                                    </ul>
                                                </div>
                                                <div class="prod-categ-wrapper">
                                                    <p class="product-categ-title">Спец. одежда и костюмы</p>
                                                    <ul class="prod-categ-links-cont">
                                                        <li class="prod-categ-link">Военная форма</li>
                                                        <li class="prod-categ-link">Экипировка медицинских работников</li>
                                                        <li class="prod-categ-link">Полиция и Росгвардия</li>
                                                        <li class="prod-categ-link">Форма пожарного</li>
                                                        <li class="prod-categ-link">Сценические костюмы</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li><a href="about-electio.html" class="header-menu__link about-service-btn">О сервисе</a></li>
                        <li class="hid-for-unlogin-header"><a href="#" class="header-menu__link">Мои объявления</a></li>
                        <li class="hid-for-unlogin-header"><a href="lk.html" class="header-menu__link menu__link-pc">Личный кабинет</a></li>
                        <li class="unlog-header-btn"><a href="reg-form.html" class="header-menu__link hidden-btn registration-btn">Регистрация</a></li>
                        <li class="unlog-header-btn"><a href="auth-form.html" class="header-menu__link hidden-btn authtariz-btn">Войти</a></li>
                    </ul>
                </nav>
                <div class="header-btn__sh-ch">
                    <a class="header__link-shop" href="#">
                        <p class="sum-circle shop-icon__sum-circle">2</p>
                    </a>
                    <a class="header__link-chat" href="#">
                        <p class="sum-circle chat-icon__sum-circle">3</p>
                    </a>
                </div>
                <div class="header-serch__input-block">
                    <input class='header-ser__input' type="text" focus:{ outline: none; } placeholder='Поиск'>
                    <img src="../icons/search-head-input-ico.svg" alt="" class="search-header-input-ico">
                </div>
                <div class="burger-block">
                    <span class="burger-link"></span>
                    <span class="burger-link"></span>
                    <span class="burger-link"></span>
                </div>
            </div>
        </div>
    </header>
    <section class="burger-drop-menu__container">
        <div class="burger-drop-menu__container-inner">
            <div class="burger-dr-m__wrapper">
                <div class="photo-ico-plus-name-block">
                    <div class="burger-photo-place">
                        <a href="lk.html"><img class="burger-photo-ico" src="../img/profile-foto.png" alt=""></a>
                    </div>
                    <div class="burger-name-place-block">
                        <a href="lk.html"><span class="burger-name-text">Никки Розенфельд</span></a>
                    </div>
                </div>
                <ul class="navigation-menu-wrapper">
                    <li class="burger-tab-el"><a href="catalog.html" class="burger-link-el">Каталог</a></li>
                    <li class="burger-tab-el"><a href="lk.html" class="burger-link-el">Личный кабинет</a></li>
                    <li class="burger-tab-el"><a href="" class="burger-link-el">Мои обращения</a></li>
                    <li class="burger-tab-el"><a href="about-electio.html" class="burger-link-el">О сервисе</a></li>
                    <li class="burger-tab-el"><a class="burger-link-el choose-cities">Санкт-Петербург</a>
                        <div class="header__city-block-trig-list">
                            <div class="city-list__container">
                                <div class="city-list__container-inner">
                                    <div class="city-list__wrapper">
                                        <p class="city-of-list">Санкт-Петербург</p>
                                        <p class="city-of-list">Казань</p>
                                        <p class="city-of-list">Краснодар</p>
                                        <p class="city-of-list">Мурманск</p>
                                        <p class="city-of-list">Владивосток</p>
                                        <p class="city-of-list">Сочи</p>
                                        <p class="city-of-list">Самара</p>
                                        <p class="city-of-list">Омск</p>
                                        <p class="city-of-list">Новосибирск</p>
                                        <p class="city-of-list">Челябинск</p>
                                        <p class="city-of-list">Рязань</p>
                                        <p class="city-of-list">Смоленск</p>
                                        <p class="city-of-list">Тула</p>
                                        <p class="city-of-list">Ярославль</p>
                                        <p class="city-of-list">Воронеж</p>
                                        <p class="city-of-list">Саратов</p>
                                        <p class="city-of-list">Архангельск</p>
                                        <p class="city-of-list">Калининград</p>
                                        <p class="city-of-list">Чебоксары</p>
                                        <p class="city-of-list">Уфа</p>
                                        <p class="city-of-list">Чебаркуль</p>
                                        <p class="city-of-list">Екатеринбург</p>
                                        <p class="city-of-list">Пенза</p>
                                    </div>
                                    <div class="decor-op-block op-block-top"></div>
                                    <div class="decor-op-block op-block-down"></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="burger-tab-el burger-exit-link"><a href="" class="burger-link-el">Выход</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div class="closer-window-area"></div>
    <form action="" method="POST">
        <section class="users-list-display">
            <div class="users-list__container">
                <div class="main-title-papge__block">
                    <h1 class="users-disp__title">Пользователи</h1>
                    <img class="search-filter__ico" src="../icons/filter-open-ico.svg" alt="">
                </div>
                <div class="users-list__inner">
                    <div class="search-container">
                        <div class="search-filters-wrapper">
                            <a class="search-filter-title">Фильтры</a>
                            <img class="search-filter__ico" src="../icons/filter-open-ico.svg" alt="">
                            <img class="cat-plus-ico" src="../icons/cat-plus-ico.svg" alt=""> <!--АДМИНСКАЯ КНОПКА-->
                        </div>
                        <div class="prod-serch__wrapper">
                            <input type="text" class="serch-prod__input" placeholder="Поиск по пользователям"
                                id="search-chat">
                            <img src="../icons/search-head-input-ico.svg" alt="" class="search-header-input-ico">
                            <a href='#'><button class="search-prod__btn"> Найти </button></a>
                        </div>
                    </div>
                    <div class="question__text-block">
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title blocked">Евгения Луи</h3> <!--Если пользователь заблочен, добавляй в ник класс blocked-->
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                        <div class="user-prev-card__wrapper">
                            <div class="user-card__inner">
                                <div class="us-card__photo-block">
                                    <img src="../img/profile-foto.png" alt="" class="us-card__photo">
                                </div>
                                <div class="us__text-block">
                                    <h3 class="us-name__title">Евгения Луи</h3>
                                    <div class="rate-and-comment__block">
                                        <div class="rate-star Stars" style="--rating: 69.5;"
                                        aria-label="Rating of this product is % out of 100"></div>
                                        <span class="comment-count"><a href="">132 отзыва</a></span>
                                    </div>
                                    <p class="register-date-info">Зарегистрирован <span class="register-date">21.10.2020</span></p>
                                </div>
                            </div>
                            <div class="decor-circle__block">
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <span class="decor-circle"></span>
                                <div class="onclick__function-block">
                                    <p class="funct__link bloker-btn">Заблокировать</p>
                                    <p class="funct__link unblocker-btn">Разблокировать</p>
                                    <p class="funct__link">Редактировать</p>
                                    <p class="funct__link">Написать пользователю</p>
                                    <p class="funct__link">Аналитика пользователя</p>
                                    <img src="../icons/triangle.png" alt="" class="triangle">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagenator-block">
                    <div id="table">
                        <ul id="pagination"></ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="page__modal-filters disabled">
            <div class="filters-modal-window__container">
                <div class="main-filter" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <h3 class="filter-wrapper__title">Фильтры и сортировка</h3>
                    </div>
                    <div class="filter-wrapper__center-block">
                        <ul class="sort-name__list sort-categort__list">
                            <li class="sort-name-list__link sort-window__link sort__category" value="0">Верификация</li>
                            <li class="sort-name-list__link price-window__link sort__category" value="1">Рейтинг</li>
                            <li class="sort-name-list__link color-window__link sort__category" value="2">Бан</li>
                            <li class="sort-name-list__link zalog sort__category" value="3">Дата регистрации</li>
                            <li class="sort-name-list__link size-window__link sort__category" value="4">Количество сделок</li>
                            <li class="sort-name-list__link sort__category" value="5">Подписки</li>
                            <li class="sort-name-list__link pattern-window__link sort__category" value="6">Активность</li>
                        </ul>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="1" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="" value="1">
                        <h3 class="filter-wrapper__title">Верификация</h3>
                    </div>
                    <div class="filter-wrapper__center-block">
                        <label class='radio__wrapper sort-name__list'>
                            <p class="title-radio sort-name-list__link">Только верифицированные</p>
                            <input name='rb-sort' type="radio" class="radio-btn" id=''>
                            <span class="radio-style"></span>
                        </label>
                        <label class='radio__wrapper sort-name__list'>
                            <p class="title-radio sort-name-list__link last">Только неверефицированные</p>
                            <input name='rb-sort' type="radio" class="radio-btn" id=''>
                            <span class="radio-style"></span>
                        </label>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="2" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="" value="2">
                        <h3 class="filter-wrapper__title">Рейтинг</h3>
                    </div>
                    <div class="filter-wrapper__center-block reit-filter">
                        <div class="filter-wrapper__size-form">
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value=""><div class="rate-star Stars" style="--rating: 0;"
                                    aria-label="Rating of this product is % out of 100"></div></p>
                                <p class="title-checkbox sort-name-list__link" value="">16</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value=""><div class="rate-star Stars" style="--rating: 20;"
                                    aria-label="Rating of this product is % out of 100"></div></p>
                                <p class="title-checkbox sort-name-list__link" value="">8</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value=""><div class="rate-star Stars" style="--rating: 40;"
                                    aria-label="Rating of this product is % out of 100"></div></p>
                                <p class="title-checkbox sort-name-list__link" value="">1</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value=""><div class="rate-star Stars" style="--rating: 60;"
                                    aria-label="Rating of this product is % out of 100"></div></p>
                                <p class="title-checkbox sort-name-list__link" value="">133</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value=""><div class="rate-star Stars" style="--rating: 80;"
                                    aria-label="Rating of this product is % out of 100"></div></p>
                                <p class="title-checkbox sort-name-list__link" value="">423</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value=""><div class="rate-star Stars" style="--rating: 100;"
                                    aria-label="Rating of this product is % out of 100"></div></p>
                                <p class="title-checkbox sort-name-list__link last" value="">16</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                        </div>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="3" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="" value="3">
                        <h3 class="filter-wrapper__title">Бан</h3>
                    </div>
                    <div class="filter-wrapper__center-block">
                        <div class="filter-wrapper__size-form">
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Только активные</p>
                                <p class="title-checkbox sort-name-list__link" value="">423</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Только забаненные</p>
                                <p class="title-checkbox sort-name-list__link last" value="">16</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                        </div>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="4" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="" value="4">
                        <h3 class="filter-wrapper__title">Дата регистрации</h3>
                    </div>
                    <div class="filter-wrapper__center-block users-page-filters">
                        <h3 class="mail-tab__select-title light-bold">Поиск по диапазону дат регистрации:</h3>
                        <h3 class="mail-tab__select-title">Укажите диапазон дат</h3>
                        <div class="cover-datepicker">
                            <div class="input__wrapper selecter__wrapper">
                                <div class="row rel--pos">
                                    <div id='calendare-ft-graf' class="col-4">
                                        <label></label>
                                        <input type="text" name="dates" class="form-control pull-right"/>
                                        <img class="calendare-arrow-drop" src="../icons/grey-drop-arrow-btn.svg" alt="">
                                        <script>
                                            $(function() {
                                                $('input[name="dates"]').daterangepicker({ startDate: moment(), endDate: moment().add(2, 'day')});
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <h3 class="mail-tab__select-title">Укажите конечную дату</h3>
                        <div class="cover-datepicker">
                            <div class="input__wrapper selecter__wrapper">
                                <div class="row rel--pos">
                                    <div id='calendare-ft-graf' class="col-4">
                                        <label></label>
                                        <input type="text" name="dates" class="form-control pull-right"/>
                                        <img class="calendare-arrow-drop" src="../icons/grey-drop-arrow-btn.svg" alt="">
                                        <script>
                                            $(function() {
                                                $('input[name="dates"]').daterangepicker({ startDate: moment(), endDate: moment().add(2, 'day')});
                                            })
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="5" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="" value="5">
                        <h3 class="filter-wrapper__title">Количество сделок</h3>
                    </div>
                    <div class="filter-wrapper__center-block">
                        <div class="filter-wrapper__size-form">
                            <h3 class="range-title">Завершенные</h3>
                            <div id="plc6" class="polzunok-container-5">
                                <div class="range-inputs-block">
                                    <input id="pl6-l" type="text" class="polzunok-input-5-left">
                                    <input id="pl6-r" type="text" class="polzunok-input-5-right"></div>
                                    <div id="pl6" class="polzunok-5">
                                </div>
                            </div>
                            <h3 class="range-title">Проблемные</h3>
                            <div id="plc7" class="polzunok-container-5">
                                <div class="range-inputs-block">
                                    <input id="pl7-l" type="text" class="polzunok-input-5-left">
                                    <input id="pl7-r" type="text" class="polzunok-input-5-right"></div>
                                    <div id="pl7" class="polzunok-5">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="6" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="" value="6">
                        <h3 class="filter-wrapper__title">Подписки</h3>
                    </div>
                    <div class="filter-wrapper__center-block">
                        <div class="filter-wrapper__size-form">
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Без подписки</p>
                                <p class="title-checkbox sort-name-list__link" value="">423</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Помощник</p>
                                <p class="title-checkbox sort-name-list__link" value="">423</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Костюмер</p>
                                <p class="title-checkbox sort-name-list__link" value="">423</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Спонсор</p>
                                <p class="title-checkbox sort-name-list__link last" value="">16</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                        </div>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
                <div class="container__filter-wrapper disabled" id="ft-filter">
                    <div class="filter-wrapper__header">
                        <img class='close-ico' src="../icons/close-ico.svg" alt="">
                        <img id="7" class='back-arrow-ico' src="../icons/back-arrow-ico.svg" alt="">
                        <h3 class="filter-wrapper__title">Активность</h3>
                    </div>
                    <div class="filter-wrapper__center-block">
                        <div class="filter-wrapper__size-form">
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Только активные</p>
                                <p class="title-checkbox sort-name-list__link" value="">423</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                            <label class='checkbox__wrapper sort-name__list'>
                                <p class="title-checkbox sort-name-list__link word-of-size" value="">Только неактивные</p>
                                <p class="title-checkbox sort-name-list__link last" value="">16</p>
                                <input name='' type="checkbox" class="check-company" id=''>
                                <span class="check-style"></span>
                            </label>
                        </div>
                    </div>
                    <div class="info-count__container">
                        <p><a class="found-info" href="">Найдено 436 товаров</a></p>
                    </div>
                    <div class="filter-wrapper__btns-container">
                        <input type="submit" class="btns-container__first-btn" value="Очистить фильтры"></input>
                        <input type="submit" class="btns-container__second-btn" value="Применить"></input>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <footer class="footer aut__footer">
        <div class="container">
            <div class="footer__electio-info">
                <a class="electio-info__link" href=""> Правила пользования сайтом</a>
                <a class="electio-info__link footer-info__doc" href=""> Документация</a>
                <a class="electio-info__link footer-info__faq" href=""> FAQ</a>
                <a class="electio-info__link link-author" href=""> © Electio 2020</a>
            </div>
            <div class="footer__electio-contacts">
                <div class="footer__social-btn-cont">
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__tw" href="#">Чат с администрацией</a>
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__be" href="#"></a>
                    <a class="electio-info__link social-btn__circle-pos footer__social-btn__inst" href="#"></a>
                </div>
                <div class="footer__another-cont">
                    <a class="electio-info__link" href="#">something@gmail.com</a>
                    <a class="electio-info__link" href="#">+8 (812) 123-45-67</a>
                    <a class="electio-info__link link-city" href="#">Россия</a>
                </div>
            </div>
        </div>
    </footer>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='../js/moment.min.js'></script>
    <script type='text/javascript' src='../js/daterangepicker.js'></script>
    <script type='text/javascript' src='../js/libs/analitc-users.js'></script>
    <script src='../js/jquery.formstyler.min.js'></script>
    <script src='../js/range-picker2.js'></script>
    <script src='../js/ui-touch.min.js'></script>
    <!-- <script src='../js/pagination.min.js'></script> -->
    <script type='text/javascript' src='../js/libs/scroll-header.js'></script>
    <script type='text/javascript' src='../js/libs/block-drop.js'></script>
    <script type = 'text/javascript' src='../js/jquery.simplePagination.js'></script>
    <script type='text/javascript' src='../js/libs/users.js'></script>
    <script type = 'text/javascript' src='../js/libs/cat-add-filter.js'></script>
</body>
</html>